img {
  width: 50px;
  height: 50px;
  margin-left: auto;
}

.container {
  background-color: #f9f9f9;
  padding: 50px;
}

.card {
  width: 300px;
  height: 210px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 5px 10px hsl(229, 6%, 66%);
  margin: 10px auto;
  border-top-width: 3px;
  border-top-style: solid;
  margin-bottom: 40px;
  border-radius: 2%;
}

h2 {
  text-align: center;
}

.he1 {
  font-family: 'Roboto', sans-serif;
  color: hsl(234, 12%, 34%);
}

.he2 {
  font-weight: bolder;
  margin: 0;
}

.des {
  width: 50%;
  margin: 10px auto 10px auto;
  font-family: 'Poppins', sans-serif;
  color: hsl(229, 6%, 66%);
  text-align: center;
}

.pa {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: hsl(229, 6%, 66%);
}

@media (min-width: 600px){
.c1{
  margin-top: 110px;
  margin-left: 40px;
}
.c4{
  margin-top: 110px;
  margin-right: 50px;
}
.b{
  margin-left: 0px;
  margin-right: 0px
}
.a{
  padding:0;
}

.c{
  padding:0;
}
}
